In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

###### and

In [4]:
df_and = pd.DataFrame([[0,0,0],
                       [0,1,0],
                       [1,0,0],
                       [1,1,1]],
                     columns = ['P','Q','P and Q'])

In [5]:
df_and

   P  Q  P and Q
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1

In [6]:
x = df_and.iloc[:,:2]
y = df_and.iloc[:,2]
# : = 범위 지정
# [:,:2] = 행: 전체, 열: P,Q까지 / :2 = 2열 포함하지 않음
# [:,2] = 행: 전체,, 열: 2번째 열만 가져옴

# 실제 사용시 x: train data, y: x의 정답 값

In [7]:
y
#series: DataFrame에서 한 줄만 출력했을 때 형식

0    0
1    0
2    0
3    1
Name: P and Q, dtype: int64

In [14]:
x

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [8]:
knn_model = KNeighborsClassifier(n_neighbors=1) #근처의 데이터 1개 가져옴
# n_neighbors : 거리(가까운)순으로 데이터 값을 가져옴

# ex) 검은색,흰색 분류하기
# n_neighbors=4이고, 검은색 2개 흰색 2개일 때, 가까운 순으로 값 가져옴
# 숫자의 크기가 성능의 절대값은 아님, 개인이 연구하면서 조정

# knn_model : 지도학습의 분류 모델 중 하나
#지도학습: 데이터, 데이터의 정답 입력해서 학습 후 새로운 데이터 입력해서 정답 예측

In [9]:
knn_model.fit(x,y)
# x:데이터, y:데이터의 정답 입력해서 학습시키기

KNeighborsClassifier(n_neighbors=1)

In [11]:
pre = knn_model.predict([[1,1],
                         [0,1],
                         [1,0],
                         [0,0]])
# 새로운 데이터 입력해서 정답 예측하기
# 둘 다 1이면 1, 둘 중에 하나라도 0이면 0

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [12]:
answer = [1,0,0,0]
#실제 정답 값

In [13]:
metrics.accuracy_score(pre, answer)
# 정확도: 정답 예측 결과와 정답이 얼마나 일치하는지 (최소:0 ~ 최대:1)
# 위 예시는 정확하게 일치함

1.0

###### xor

In [16]:
df_xor = pd.DataFrame([[0,0,0],
                       [0,1,1],
                       [1,0,1],
                       [1,1,0]],
                       columns = ['P','Q','P xor Q'])

In [17]:
df_xor

   P  Q  P xor Q
0  0  0        0
1  0  1        1
2  1  0        1
3  1  1        0

In [18]:
x1 = df_xor.iloc[:,:2]
y1 = df_xor.iloc[:,2]

In [19]:
x1

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [20]:
y1

0    0
1    1
2    1
3    0
Name: P xor Q, dtype: int64

In [21]:
knn_model1 = KNeighborsClassifier(n_neighbors=1)

In [22]:
knn_model1.fit(x1,y1)
# 데이터 x, 데이터의 정답 y 입력해서 학습시키기

KNeighborsClassifier(n_neighbors=1)

In [39]:
pred1 = knn_model1.predict([[1,1],
                            [0,1],
                            [1,0],
                            [0,0]])
# 새로운 데이터 입력해서 정답 예측

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [46]:
answer1 = [0,1,1,0]

In [47]:
pred1

array([0, 1, 1, 0], dtype=int64)

In [48]:
metrics.accuracy_score(pred1,answer1)

1.0