### 1. 목표 - 아들의 키를 예측해보자

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
import numpy as np

### 2. 데이터 불러오기

In [4]:
train = pd.read_excel('아버지아들키.xlsx', sheet_name='train')
test = pd.read_excel('아버지아들키.xlsx', sheet_name='test')

In [5]:
train

      Father      Son
0    165.100  151.892
1    165.100  160.782
2    167.132  159.512
3    155.194  163.322
4    160.020  163.068
..       ...      ...
750  186.182  172.466
751  167.132  154.940
752  181.102  173.482
753  179.578  176.022
754  178.562  170.180

[755 rows x 2 columns]

In [6]:
test

      Father      Son
0    160.782  160.528
1    166.116  162.814
2    165.608  164.592
3    169.672  166.370
4    176.530  166.370
..       ...      ...
318  183.388  169.418
319  160.528  149.352
320  171.958  151.892
321  170.180  179.832
322  182.372  176.022

[323 rows x 2 columns]

In [7]:
train.info() #755개의 행

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Father  755 non-null    float64
 1   Son     755 non-null    float64
dtypes: float64(2)
memory usage: 11.9 KB

In [8]:
test.info() #323개의 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Father  323 non-null    float64
 1   Son     323 non-null    float64
dtypes: float64(2)
memory usage: 5.2 KB

In [9]:
x_train = train.drop(['Son'], axis=1)
x_test = test.drop(['Son'],axis=1)
y_train = train['Son']
y_test = test['Son']

### 4. 탐색적 분석

### 5. 모델생성

In [11]:
model1 = LinearRegression()
model2 = KNeighborsRegressor()
model3 = DecisionTreeRegressor()

### 6. 모델학습

In [12]:
model1.fit(x_train, y_train)
model2.fit(x_train, y_train)
model3.fit(x_train, y_train)

DecisionTreeRegressor()

### 7. 모델평가

In [13]:
y_predict1 = model1.predict(x_test)
y_predict2 = model2.predict(x_test)
y_predict3 = model3.predict(x_test)

In [14]:
y_predict = (y_predict1 + y_predict2 + y_predict3) / 3 #평균

In [15]:
y_predict

array([171.01685659, 172.26237926, 168.35797733, 173.62081314,
       175.8340038 , 170.29029133, 170.43000977, 175.40294072,
       177.73302744, 168.21745028, 171.08239094, 170.21330525,
       172.26237926, 175.084046  , 170.02476841, 170.02476841,
       172.67921308, 178.59385394, 174.69019928, 173.0855337 ,
       173.25257426, 172.88596339, 174.74762102, 175.084046  ,
       177.91063803, 177.6904508 , 177.73876567, 180.16409721,
       180.64520083, 172.38873979, 170.40706353, 172.42545121,
       169.5821988 , 172.67921308, 175.0848116 , 175.93803503,
       176.36481971, 177.73876567, 183.10980535, 173.92713409,
       173.90177916, 176.68581612, 177.70565846, 177.73876567,
       183.07357019, 185.31730446, 170.43000977, 172.90623733,
       175.68939039, 180.16409721, 181.06955428, 172.88486684,
       173.21519308, 175.084046  , 174.90837951, 177.70565846,
       181.52955397, 175.40294072, 180.68907561, 177.70565846,
       175.8340038 , 174.68917711, 168.39446829, 171.515653  ,
       168.39446829, 172.59013768, 170.43000977, 170.05026213,
       175.40294072, 180.16409721, 168.21745028, 168.17435749,
       172.26237926, 175.084046  , 172.59013768, 169.5821988 ,
       170.40706353, 173.21519308, 173.21519308, 172.88486684,
       177.73302744, 176.82152091, 176.66658189, 169.5618707 ,
       172.38873979, 171.515653  , 174.24736286, 174.74762102,
       172.90623733, 176.82152091, 178.09099959, 182.60527071,
       171.08239094, 170.02476841, 173.62081314, 174.24736286,
       177.33466657, 175.86891312, 176.34354341, 172.94269986,
       173.12545611, 174.90837951, 177.71914045, 179.41312544,
       180.03325487, 178.31606298, 170.21330525, 172.12245331,
       178.53710194, 172.88596339, 173.50847016, 177.91063803,
       177.6904508 , 179.63171733, 174.69019928, 177.6904508 ,
       179.34845245, 176.34354341, 177.91063803, 175.68939039,
       182.32236029, 173.90177916, 176.34354341, 180.16409721,
       176.85577371, 169.66907008, 168.35797733, 174.24736286,
       160.37727188, 168.35797733, 171.75541156, 170.05026213,
       172.67921308, 166.62955928, 169.5618707 , 167.10873047,
       172.38873979, 172.42545121, 172.59013768, 170.09592236,
       172.38873979, 169.5821988 , 173.92713409, 171.20653441,
       172.88486684, 172.88486684, 177.91063803, 168.44911063,
       170.5550548 , 172.94269986, 176.36481971, 176.68581612,
       181.52955397, 172.67921308, 172.88486684, 173.06663951,
       178.59385394, 177.6904508 , 177.9472313 , 176.68581612,
       174.5260792 , 168.35797733, 173.12545611, 173.06663951,
       175.40294072, 177.33466657, 176.68581612, 181.67118641,
       171.09731246, 171.515653  , 170.02476841, 172.88486684,
       175.40294072, 175.0848116 , 174.24736286, 177.73302744,
       176.82152091, 175.8340038 , 182.60527071, 178.59385394,
       175.93803503, 179.34845245, 179.41312544, 181.1613843 ,
       174.68917711, 172.90623733, 177.6904508 , 180.16409721,
       181.1613843 , 179.81855039, 163.86786197, 171.515653  ,
       168.21745028, 168.02710314, 172.26237926, 170.5550548 ,
       172.94269986, 168.38393885, 170.5550548 , 172.38873979,
       172.3961007 , 173.21519308, 171.08239094, 173.92713409,
       173.92713409, 172.88486684, 174.68917711, 173.50847016,
       175.8340038 , 172.59013768, 170.05026213, 173.92713409,
       171.20653441, 178.53710194, 172.88596339, 173.90177916,
       172.90623733, 175.93803503, 176.82152091, 177.6904508 ,
       177.70565846, 176.66658189, 171.01685659, 173.0855337 ,
       174.69019928, 173.50847016, 174.74762102, 176.82152091,
       174.90837951, 175.86891312, 181.1613843 , 171.515653  ,
       172.42545121, 169.5821988 , 174.24736286, 178.59385394,
       173.90177916, 175.93803503, 177.71914045, 180.16409721,
       177.71914045, 182.60527071, 173.25257426, 174.74762102,
       173.50847016, 172.90623733, 176.68581612, 180.71519   ,
       182.60527071, 175.93803503, 176.68581612, 179.41312544,
       174.5260792 , 177.71914045, 174.69019928, 177.70565846,
       182.82881885, 172.12245331, 180.03325487, 173.90177916,
       170.99970766, 177.73876567, 164.37434306, 170.09592236,
       170.5550548 , 171.96182478, 172.12245331, 173.12545611,
       180.26799811, 172.77232388, 170.29029133, 178.53710194,
       177.73302744, 173.12545611, 178.53710194, 176.36481971,
       177.9472313 , 177.71914045, 171.09731246, 170.29029133,
       170.02476841, 173.62081314, 173.06663951, 174.74762102,
       174.74762102, 175.0848116 , 175.93803503, 177.73302744,
       177.71914045, 176.34354341, 181.67118641, 168.17435749,
       173.92713409, 174.24736286, 176.82152091, 172.90623733,
       178.09099959, 177.71914045, 182.82881885, 170.99970766,
       173.92713409, 173.25257426, 173.0855337 , 172.88596339,
       176.36481971, 177.91063803, 177.71914045, 177.33466657,
       166.36099445, 173.90177916, 177.33466657, 175.86891312,
       174.68917711, 176.68581612, 180.26799811, 173.06663951,
       180.3353039 , 172.77232388, 178.35071163, 169.5618707 ,
       172.88596339, 171.20653441, 174.5260792 ])

In [16]:
r2_score(y_test, y_predict)

0.18036000879193148

#### 새로운 데이터 입력 -> 예측값

In [17]:
x_test = np.array([[164.3]])

y_predict1 = model1.predict(x_test)
y_predict2 = model2.predict(x_test)
y_predict3 = model3.predict(x_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [18]:
y_predict = (y_predict1 + y_predict2 + y_predict3) / 3

In [19]:
y_predict

array([170.28372739])